<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADmotelerosco.Properties.Settings.EROScoConnectionString"
            connectionString="Data Source=.\MSQLEXPRESS;Initial Catalog=EROSco;Persist Security Info=True;User ID=sa;Password=donmatiaz123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>